*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    
}

body{
    height: 100vh;
    font-size: 28px;
    background-color: #afefd4a9;
}

.container{
    padding: 30px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: normal;
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    text-decoration: none;
    color: #2ab57b;
}

.header{
    padding-top: 50px;
    grid-column: 4 / 6;
    grid-row: 1 / 2;
    text-align:center;
    justify-content: center;
}

.header .name{
    font-size: 36px;
    font-weight: 600;
}

.header .icon{
    font-size: 20px;
}

.header .icon i{
    color: #2ab57b;
}

.header .icon .a-icon i:hover{
    color: #13dd89;
}


.header .name, .header .icon{
    display: inline-block; 
}

.col-1{
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.quote, .location, .email{
    display: flex;
    padding: 10px;
}

.quote i, .location i, .email i{
    padding: 6px 10px;
}

.col-2{
    grid-column: 3 / 7;
    grid-row: 2 / 5;
    justify-content: center;
    align-content: center;
}

.image{
    box-shadow: 5px 7px rgba(55, 54, 54, 0.339);
    margin: auto;
    display: inline-block;
    padding: 8px;
    /* background: linear-gradient(130deg, rgb(68, 67, 67), white); */
    background: linear-gradient(90deg, rgba(245,243,136,1) 0%, rgba(82,226,182,1) 39%, rgba(137,235,255,1) 91%);
    border-radius: 50%;
    background-size: 200%;
    animation: animated-gradient 5s linear infinite;
}

@keyframes animated-gradient{
    25% {background-position: left bottom;}
    50% {background-position: right bottom;}
    75% {background-position: right top;}
    100% {background-position: left top;}
}

.image img{
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.buttons{
    display: flex;
    padding: 10px;
    padding-left: 70px;
}

.buttons .friend-status, .buttons .message{
    padding: 10px;
}

.col-3{
    grid-column: 8 / 10;
    grid-row: 3 / 5;
}

.friends_link h1{
    padding: 0 30px;
}

.friend a{
    padding: 10px;
    display: flex;
}

.friend_img{
    margin: 0 20px;
}

.friend_img img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* BUTTONS (MESSAGE, FRIEND STATUS) */

.btn a{
    text-decoration: none;  
}

.btn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: #2ab57b;
    border: none;
    border-radius: 15px;
    /* box-shadow: 3px 5px rgba(55, 54, 54, 0.339); */
  }
  
  .btn:hover {
    background-color:  #13dd89;
    color: #ffffff;
}
  
  .btn:active {
    background-color:  #13dd89;
    box-shadow: inset 3px 3px rgba(55, 54, 54, 0.339);
  }
