body {
    background: radial-gradient(circle at 10% 20%, rgb(186, 190, 245) 0%, rgb(192, 192, 245) 33.1%, rgb(218, 203, 246) 90%);
    padding: 1rem;
    height: 100vh;
    padding: 100px 0;
    color: white;
    max-width:640px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height:1.4;
}

#section{
    position: absolute;
    width: 70rem;
    height: 60vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 30px;
    background-color: rgba(240, 234, 234, 0.174);
}

.container{
    display: grid;
    grid-template-areas: 
    "b b a a"
    "b b a a"
    "b b a a";
    margin: 60px;
    opacity: 0.7;
}

.item{
    padding: 30px;
    margin: 30px;
    background-color: white;
    color: rgb(103, 128, 159);
    border-radius: 30px;
}

/* about user */
.profile-item{
    grid-template-areas: 'b';
}

.image{
    display: flex;
    justify-content: center;
}

#pr_image{
    width: 250px;
    border-radius: 180px;
    box-shadow: 0 5px 10px rgba(103, 128, 159, 0.539);
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.head{
    padding: 20px;
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.main{
    padding: 20px;
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
/* profile name, location email, hobby */
.profile{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 2;
}
.name{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.location{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 2;
}
.email{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}



/* about user end*/
.frieds-item{
    grid-template-areas: 'a';
}




