body{
    height: 100vh;
    background: linear-gradient(68.1deg, rgb(248, 205, 205) -0.3%, rgb(149, 170, 211) 100.7%);
}

#signup{
    position: absolute;
    width: 70rem;
    height: 50vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 30px;
}

.text{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.18);
    color: rgba(80, 80, 80, 0.751);
}

.form{
    border-radius: 30px;
    text-align: center;
    color: rgb(56, 54, 54);
}

.form, .text{
    padding: 50px;
}

#form_icon{
    color: rgba(255, 255, 255, 0.751);
    font-size: 80px;
}

#text_icon{
    color: rgba(255, 255, 255, 0.467);
    font-size: 40px;
}

.header{
    margin-bottom: 100px;
}

#logo{
    margin: 20px;
    font-weight: bold;
    font-size: 25px;
    color: #6221ed7e
}

.buttons{
    padding-top: 100px;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.item{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.icon{
    color: #b177d97c;
}

.form h1{
    color: #4c5a69
}