body{
    height: 100vh;
}

.section{
    background-image: url(image.jpg);
    top: 0;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: scroll;
    background-size: cover;
}

.header{ 
    height: 100%;
}

.header p{
    font-size: 30px;
}
.comtainer{
    color: white;
    margin-top: 200px;
}

i{
    font-size: 30px;
}

footer{
    margin: 7% 3% 15% 3%;
}

