{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4606228898.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
    <script src="https://kit.fontawesome.com/4606228898.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <div class="header">
            <div class="back">
                <h2><a href="{%url 'friends' user.id%}">BACK</a></h2>
            </div>
            <div class="profile-image">
                <img src="{{friend.profile.image.url}}" alt="" width="200px">
            </div>
            <div class="name">
                <h2>{{friend.profile.name}}</h2>
            </div>
        </div>

        <div class="chat-window" id="chat-window">
            {% for message in chats %}
            {% if message.sender == user and message.receiver == profile %}

            <div class="chat-box-sent">
                {{message}}
            </div>

            {% elif message.sender == profile and message.receiver == user %}

            <div class="chat-box-received">
                {{message}}
            </div>

            {% endif %}
            {% endfor %}

            <div class="chat-box-sent" id ="chat-box-sent" style="display: none"></div>
        </div>

        <form action="" id="myform" method="POST">
            {% csrf_token %}
            
            {{form.body}}
            
            <button type = "submit" id = "submit">Send</button>
        </form>
    </div>

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();

                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        } 
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');
    let form = document.getElementById("myform")
    form.addEventListener("submit", sendChat)

    function sendChat(e){
        e.preventDefault()
        let chatMessage= document.getElementById("id_body").value

        const data = { msg: chatMessage };
        
        let url = "{% url 'sent_message' friend.profile.id %}"

    fetch(url, {
        method: 'POST', 
        headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(data),
    })

    .then(response => {
        console.log(response);
        response.json()})

    .then(data => {
        console.log('Success:', data);
        let chat_body = document.getElementById('chat-window')
        let chatMessageBox = document.createElement("div")
        chatMessageBox.classList.add("chat-box-sent")
        chatMessageBox.innerText = data
        chat_body.append(chatMessageBox)
        document.getElementById("id_body").value=""
    })
    .catch((error) => {
        console.error('Error:', error);
    });
    }

setInterval(receiveMessages, 2000);

let counter = {{num}}
function receiveMessages(){

    let url = "{% url 'received_message' friend.profile.id %}"

        fetch(url)
        .then(response => response.json())
        .then(data => {
        console.log('Success:', data);

        if(data.length == 0){}

        else{

            let lastMsg = data[data.length-1]

            if(counter == data.length){
                console.log("there is no new chat")
            }

            else{
                let chat_body = document.getElementById('chat-window')
                let chatMessageBox = document.createElement("div")
                
                chatMessageBox.classList.add("chat-box-received")
                chatMessageBox.innerText = lastMsg
                chat_body.append(chatMessageBox)
                document.getElementById("id_body").value=""
            }

        }
        
        counter = data.length

        })
        .catch((error) => {
        console.error('Error:', error);
        });
}



</script>

</body>
</html>

{% endblock content%}

