{% block content %}


{% if user == current_user %}
    user: {{request.user.username}} <br>

    all users: <br>
    {% for user in users %}
        {% if user != current_user %}

            <a href="{%url 'profile' user.userprofile.id%}">{{user}}</a> <br>
    
        {% endif %}
    {% endfor %}
    <br> <br> <br> <br> <br>

    my friends: <br>
    {% for friend in friends %}

            {{friend}} <br>
        
        {% endfor %}



        {% for request in rec_friend_requests %}
        <h5>From: {{ request.sender }}</h5>
        <a href="{% url 'accept_friend_request' request.pk %}">
          <button type="button" class="btn btn-info btn-sm btn-block mb-2">
          Accept Friend Request
          </button>
        </a>
        <a href="{% url 'decline_friend_request' request.pk %}">
          <button type="button" class="btn btn-info btn-sm btn-block mb-2">
          Decline Friend Request
          </button>
        </a>
        <hr>
        {% endfor %}
    
        <div>Requests Sent</div>
      <div>
          {% for sent in sent_friend_requests %}
        <h5>Send to: {{ sent.receiver }}</h5>
        <a href="{% url 'delete_friend_request' sent.receiver.id %}">
          <button type="button" class="btn btn-info btn-sm btn-block mb-2">
          Cancel Friend Request
          </button>
        </a>
        {% endfor %}

{%else%}

    {{user}}`s friends:

    {% for friend in friends %}

    {{friend.userprofile.name}}
    <a href="{% url 'profile' friend.id %}">
        <button type="button" class="btn btn-info btn-sm btn-block mb-2">
        View Profile
        </button>
      </a>

      <a href="{% url 'delete_friend' friend.id %}">
        <button type="button" class="btn btn-info btn-sm btn-block mb-2">
        Remove from Friends
        </button>
      </a>
    {% endfor %}

{% endif %}
{% endblock content%}