{% load static %}
{% block content %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4606228898.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <title>Document</title>
</head>
<body>

    {% if user != current_user %}

    <div class="section" id="other_profile">
        <div class="container">
            <div class="item profile_item">
                    <div class="head">
                        <div class="image">
                            <img id='pr_image' src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png" alt="">
                        </div>
                        <div class="name">
                            <h5>{{user_profile.name}}</h5>
                        </div>
                        <div class="icon">
                            {% if user_profile in current_user_friends %}
                                <i class="fa-solid fa-user-check"></i>
                            {% endif %}
                        </div>
                        <div class="buttons">
                            <div class="message">
                                <button><a href="{% url 'chat' user.id %}">Message</a></button>
                            </div>
                            <div class="friend-status">
                                {% if user_profile in current_user_friends %}
                                    <a href="{% url 'delete_friend' user.id %}">
                                        <button type="button" class="btn btn-info btn-sm btn-block mb-2">
                                            Remove from Friends
                                        </button>
                                    </a>
                                {% elif user_profile not in current_user_friends and not sent_friend_request %}
                                    <a href="{% url 'send_friend_request' user.id %}">
                                        <button type="button" class="btn btn-success btn-lg btn-block mb-2">
                                            Send Friend Request
                                        </button>
                                    </a>
                                {% elif user_profile not in current_user_friends and sent_friend_request%}
                                    <a href="{% url 'delete_friend_request' user.id %}">
                                        <button type="button" class="btn btn-danger btn-lg btn-block mb-2">
                                            Cancel Friend Request
                                        </button>
                                    </a>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    <div class="main">
                        <div class="info">
                            <div class="nickname">
                                {{user_profile.name}}
                            </div>
                            <div class="hobby">
                                {{user_profile.hobbies}}
                            </div>
                            <div class="location">
                                {{user_profile.location}}
                            </div>
                            <div class="email">
                                <a href="#"> {{user_profile.email}} </a>
                            </div>
                        </div>
    
                        <div class="friends">
                            {{user_profile.name}}`s Friends:
                            <div class="friend">
                                {% for friend in user_friends %}
                                    <a href="{% url 'profile' friend.id %}">
                                        <div class="friend-link">
                                            <div class="friend_img">{{friend.image}}</div>
                                            <div class="friend_name">{{friend.name}}</div>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <div class="section" id="my_profile">
        <div class="container">
            <div class="item profile_item">
                <div class="head">
                    <div class="image">
                        <img id='pr_image'src="{{user_profile.image.url}}" alt="">
                    </div>
                    <div class="name">
                        <h5>{{current_user_profile.user.username}}</h5>
                    </div>
                    <div class="update-profile">
                        <button><a href="#">Update Profile</a></button>
                    </div>
                </div>
                <div class="main">
                    <div class="info">
                        <div class="nickname">
                            {{current_user_profile.name}}
                        </div>
                        <div class="hobby">
                            {{current_user_profile.hobbies}}
                        </div>
                        <div class="location">
                            {{current_user_profile.location}}
                        </div>
                        <div class="email">
                            <a href="#"> {{current_user.email}} </a>
                        </div>
                    </div>

                    <div class="friends">
                        <div class="friends_link">
                            <h1><a href="{%url 'friends' current_user.id%}">My Friends:</a></h1>
                        </div>
                        <div class="friend">
                            {% for friend in current_user_friends %}
                                <a href="{% url 'profile' friend.id %}">
                                    <div class="friend-link">
                                        <div class="friend_img">{{friend.image}}</div>
                                        <div class="friend_name">{{friend.name}}</div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- <div class="item friends-item">
                        <h1><a href="{%url 'chats' current_user.id%}">CHATS</a></h1>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock content%}
</body>
</html>