{% load static %}

<style>
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: rgb(159, 135, 236);
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.7s;
}

.nav a {
	display: block;
	padding: 10px 30px;
	text-decoration: none;
	color: #ccc;
	font-size: 25px;
}
.nav a:hover {
	color: #fff;
	transition: 0.4s;
}
  
.nav .close {
	position: absolute;
	top: 0;
	right: 22px;
	margin-left: 50px;
	font-size: 30px;
}
  
.slide a {
  color:rgb(139, 139, 139);
	font-size: 36px;
}
  
#content {
	padding: 38px;
	transition: margin-left 0.7s;
	overflow: hidden;
}
  
#main {
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size: cover;
	margin-bottom: 10px;
}

#and{
    text-align: center;
}
</style>



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<div id="main">
  <div id="content">
  
  <span class="slide" id="slide">
    <a href="#" onClick="openSlideMenu()">
    <i class="fas fa-bars"></i>
    </a>
  </span>
  
  <div id="menu" class="nav">
    <a href="#" class="close" onClick="closeSlideMenu()">
      <i class="fas fa-times"></i>
    </a>
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'friends' user.id %}">Friends</a>
    <a href="{% url 'signout' %}">Log Out</a>
  </div>
</div>
</div>

<script>
  console.log('hello');
  function openSlideMenu () {
    document.getElementById('menu').style.width = '250px';
    document.getElementById('content').style.marginLeft = '250px';
    document.getElementById('slide').style.display = 'none';
}

  function closeSlideMenu () {
    document.getElementById('menu').style.width = '0';
    document.getElementById('content').style.marginLeft = '0';
    document.getElementById('slide').style.display = 'block';
}
</script> 

