{% extends 'partials/base.html' %}

{% block content %}
<div style="margin: 20px;">
   <h1> {{director}} </h1>


      <a href="{% url 'update_director' director.id %}"><button type="submit" class="btn btn-primary">Update details</button></a> 

    <ul>
        {% for film in films %}
            <div>
                
                <br>
                <li>
                    Title: {{ film.title }}
                </li>
                <br>
                <li>
                    Genre: 
                    {% for cat in film.categories.all %}
                        {{ cat }} |
                    {% endfor %}
                </li>
                <br>
                <li>
                    Released at : {{ film.release_date }}
                </li>

            </div>
        {% endfor %}
    </ul>
</div>
{% endblock content%}
